*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: 'Helvetica Neue', Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

tbody {
	outline: 0;
}

td, th {
	padding-bottom: 5px;
	padding-top: 5px;
}

th {
	border-top: 0;
}

.header {
	background: #25292a;
	color: #aaaaaa;
	font-weight: normal;
	font-size: 13px;
	text-shadow: #373b3c 1px 1px;
}

.col-header {
	border-right: 1px solid #373b3c;
	border-bottom: 1px solid #373b3c;
}

.row-header {
	border-bottom: 1px solid #373b3c;
	border-right: 1px solid #373b3c;
	text-align: center;
}

.corner {
	border-right: 1px solid #373b3c;
	border-bottom: 1px solid #373b3c;
	width: 40px;
}


/*---------------------
	Cells
---------------------*/

.cell {
	background: #2f3436;
	border: 1px solid #373b3c;
	color: whitesmoke;
	height: 28px;
	outline: 0;
	padding: 5px;
	text-align: right;
	width: 125px;
}

.cell.active {
	background: #3dafc7;
}

/*---------------------
	Selection
---------------------*/

.selection {
	background: transparent;
	border: 2px solid #3dafc7;
	position: absolute;
	pointer-events: none;
}

.selection .background {
	background: transparent;
	height: 100%;
	position: relative;
	width: 100%;
}

.selection .handle {
	background: #3dafc7;
	border: 2px solid #2f3436;
	bottom: -5px;
	height: 8px;
	position: absolute;
	right: -5px;
	width: 8px;
}

/*---------------------
	Input
---------------------*/

.input {
	color: whitesmoke;
	outline: 0;
	padding: 5px;
}