*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: 'Helvetica Neue', Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

tbody {
	outline: 0;
}

td, th {
	padding-bottom: 5px;
	padding-top: 5px;
}

th {
	border-top: 0;
}

.header {
	background: #f2f2f2;
	color: #9a9a9a;
	font-weight: normal;
	font-size: 13px;
	text-shadow: white 1px 1px;
}

.col-header {
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #dcdcdc;
}

.row-header {
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}

.corner {
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	width: 40px;
}

/*---------------------
	Cells
---------------------*/

.cell {
	border: 1px solid #f3f3f3;
	height: 14px;
	outline: 0;
	padding: 5px;
	text-align: right;
	width: 125px;
}

.cell.active {
	background: #edbc76;
}

/*---------------------
	Focus
---------------------*/

.selection {
	background: transparent;
	border: 2px solid #3dafc7;
	position: absolute;
}

.selection .background {
	background: transparent;
	height: 100%;
	position: relative;
	width: 100%;
}

.selection .handle {
	background: #3dafc7;
	border: 2px solid white;
	bottom: -5px;
	height: 8px;
	position: absolute;
	right: -5px;
	width: 8px;
}

/*---------------------
	Input
---------------------*/

.input {
	outline: 0;
	padding: 5px;
}